body {
    color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background-color: #f8f8f8;
    border-top: 5px solid #7e7e7e;
    margin: 0;
}

button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
}
.search_field {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    color: #b2b2b2;
    padding: 0 10px;
    vertical-align: top;
    width:150px;
}
.searchButton {
    background: #3b464c;
}
p {
    margin: 20px 0;
}
#wrapper {
    max-width: 90%;
    margin: auto;
}
header {
    padding: 20px 0;
}
.top_logo {
    height: 50px;
    width: 100px;
}
.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float:right;
}
nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    
    background: #e7e9ec;
}

nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.top-menu {
    text-align: center;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.top-menu li.active {
    background: #29c5e6;
    color: #fff;
}

.top-menu a {
    color: #645858;
}

.dropdown {
    float: right;
    padding-left: 15px;
    padding-top: 9px;
}

.btn-primary-my {
    color: #fff;
    background-color: #3b464c;
    border-color: #2e6da4;
    border-top-color: rgb(46, 109, 164);
    border-right-color: rgb(46, 109, 164);
    border-bottom-color: rgb(46, 109, 164);
    border-left-color: rgb(46, 109, 164);
}

#heading {
    background: transparent url('h1-bg.png');
    margin: 15px 0;
    padding-left: 20px;
    height: 50px;
}

h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Oswald', sans-serif;
    background: url(bg.png);
    margin: 10px;
    padding: 0 10px;
}

aside {
    float: left;
    width: 175px;
}
section {
    margin-left: 200px;
    padding-bottom: 50px;
    min-height:600px;
}
.search{
min-height:-webkit-fill-available;
}

.aside-menu li {
    font-weight: 300;
    list-style-type: square;
    border-top: 1px solid #c1c1c1;
}

.aside-menu li:first-child {
    border: none;
}

.aside-menu li.active {
    color: #29c5e6;
}

.aside-menu a {
    color: #8f8f8f;
}
aside > h2 {
    background: #29c5e6;
    font: 14px 'Oswald', sans-serif;
    color: #fff;
    padding: 10px;
    margin: 30px 0 0 0;
}

aside > p {
    background: #f3f3f3;
    border: 1px solid #e7e7e7;
    padding: 10px;
    margin: 0;
}

blockquote {
    margin: 0;
    background: #29c5e6;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

blockquote p {
    color: #fff;
    font-style: italic;
    font-size: 33px;
    margin: 0;
}

blockquote cite {
    display: block;
    font-size: 20px;
    font-style: normal;
    color: #1d8ea6;
    margin: 0;
    text-align: right;
}

figure {
    display: inline-block;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

figure img {
    display: block;
    border: 1px solid #fff;
    outline: 1px solid #c9c9c9;
}

figure figcaption {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

figure figcaption span {
    display: block;
    font-size: 14px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

figure div {
    font-size: 14px;
    color: #29c5e6;
}

.team-row figure {
    margin-top: 20px;
}

.team-row figure + figure {
    margin-left: 43px;
}
    color: #29c5e6;
}
section > figure + figure {
    margin-left: 28px;
}
section > h2 {
    background: #29c5e6;
    font: 30px 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
    padding: 0 10px;
    margin: 30px 0 0 0;
}
footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
}

#footer {
    max-width: 960px;
    margin: auto;
    padding: 10px 0;
    height: 90px;
}

.footer-logo {
    height:75px;
    width:75px;}

.pageH1 {
    background: url(bg.png);
    margin-top:0px;
    margin-left:0px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align:middle;
}

.createButton {    
    float: right;
    background-color: #618f9c;
}
.form-control {
width:70%;
}
.product_picture {
margin-top:0px;
margin-bottom:10px;
}
.water_graph {
margin-top:10px;
}
input {
width: 50px;
}
.attach{
width:200px;
}
.delete {
width:70px;
}

.alert-error {
    color: #2d2224;
    background-color: #f21f4d;
    border-color: #d6e9c6;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

